.panel{
    display: flex;
    align-items: stretch;
    background-color: #EFEFEE;
}
.buttonPanel{
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #2B2B28;

}

.buttonPanel button{
    
    background-color: #E3B04B;
    border: 1px solid #2B2B28;
    border-radius: 7px;
    margin: 10px;
    
}

.buttonPanel button:hover{
    color: #EFEFEE ;
}


.showPanelSection{
    width: 75%;
    margin-left: 3%;
}

h3 .mensaje{
    border: 2px solid #E3B04B;
    margin: 20px;
    padding: 10px;
    flex-grow: 1;
}

.sectionDesktop{
    display: none;
}

.title h2{
    
    text-align: center;
}


