.formContainer{
    width: 90%;
    margin: 3%;
    
}


/* h3{
    font-family: 'Chakra Petch', sans-serif
}

.customFont{
    font-family: 'Catamaran', sans-serif;
} */

.checks{
    display: flex;
    justify-content: space-between;
}
