.buttonPanel{
    
    background-color: #2b2b28;
    display: flex;
    justify-content: space-between;
}

button{
    background-color: #E3B04B;
    border: 1px solid #2B2B28;
    border-radius: 7px;
    margin: 10px;
}

section .showPanelSection h4{
    text-align: center;
}