.detalleProducto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.detalleProducto h2{
    font-size: 1.5rem;
    margin-top: 5%;
}

.gridTallesPrecio{
    width: 100%;
}


.tallesCalendario{
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 80%;
    display: flex;
    
}


.talles{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 90%;
    border: 2px solid #2B2B28;
}

.tallesCalendario button{
    font-size: 0.6rem;
    border-radius: 0;
    background-color: #F8F8F8;
    color: #2B2B28;
}

.tallesCalendario button:focus{
    background-color: #E3B04B;
    border: 1px solid #E3B04B;
}


.calendar{
    width: 60%;
    height: max-content;
    
}

.calendar input {
    width: 100%;
    height: 47px;
    font-size: 1rem;
    padding: 2% 5%;
    border-radius: 0;
    border: 2px solid #2B2B28;
    color-scheme: light;
}

.precioReserva{
    display: flex;
    width: 30%;
    align-items: center;
    margin-bottom: 3%;
    margin-left: 10%;
    width: 100%;

}

.precioReserva h5{
    text-align: center;
    padding: 3%;
    font-size: 0.8rem;
    width: 30%;
    height: 45px;
    border: 2px dashed #E3B04B;
    margin: 0;
    margin-right: 2%;
    border-radius: 7px;
}

.precioReserva button{
    text-align: center;
    font-size: 0.8rem;
    padding: 3%;
    height: 45px;
    border-radius: 7px;
    width: 48%;
    background-color: #E3B04B;
}

.precioReserva button:active{
    background-color: #F1D6AB;
    color: #2B2B28;
    border: 2px solid #E3B04B
}

.container, .verMas{
    display: none
}


@media (min-width: 480px){
    .detalleProducto{
        width: 100%;
    }

    .detalleProducto h2{
        font-size: 3rem;
        margin-right: 70%;
    }

    .container{
        display: flex;
        width: ;

    }

    .largeImg{
        margin-right: 15%;
        width: max-content;
    }
    
    .largeImg img{
        width: ;
        height: max-content;
        
        
        
    }

    .smallImg{
        display: grid;
        
        grid-template-columns: repeat(2, 0.7fr);
        grid-template-rows: repeat(2, 0.7fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .smallImg img {
        width: 50%
        ;
    }

    .tallesReserva{
        width: 50%;
        justify-content: flex-end;
        margin: 0;
    }

    .precioReserva{
        width: 50%;
        justify-content: flex-end;
    }

}
