

.detalleProducto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detalleProducto h2 {
  font-size: 1.5rem;
  margin-top: 5%;
}

.tituloBackButton{
  width: 90%;
  margin: 5%;
  display: flex;
  justify-content: space-around;
}

.backButton {
  display: block;
  height: auto;
  border-radius: 50%;
}

h3{
  text-transform: capitalize;
}

.tallesPrecioM {
  width: 100%;
}

/* .tallesCalendario {
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 80%;
  display: flex;
} */

h5{
  font-weight: bold;
  color:#2b2b28;
  font-size: 1.5rem;
  margin-top: 50px;
}

.containerDetalles{
  margin-top: 3% 0;
}

.detalleCaracteristicas{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.detalleReserva{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.talles {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 0px;
  height: fit-content;
  border: 3px solid #E3B04B;
  margin-top: 60px;
  margin-bottom: 60px;
}

.talles button {
  font-size: 0.7rem;
  border-radius: 0;
  background-color: #f8f8f8;
  color: #2b2b28;
  border: none;
  padding: 2%;
}

.talles button:focus {
  background-color: #e3b04b;
  
}

.reserva{
  display: flex;
  justify-content: space-between;
  width: 90%;
  height: 35px;
  margin-bottom: 80px;
}



.calendar input {
  height: 30px;
  text-transform: uppercase;
  background-color: #EFEFEE;
  font-size: 0.7rem;
  padding: 5%;
  border-radius: 0;
  border: none;
  /* color-scheme: light; */
  margin: 0;
}

.reserva button{
    border: none;
    background-color: #E3B04B;
    text-transform: uppercase;
    padding: 1% 7%;
    font-size: 0.8rem;
    border-radius: 50px;
    
}

/* .precioReserva {
  display: flex;
  width: ;
  align-items: center;
  margin-bottom: 3%;
  margin-left: 10%;
  
}

.precioReserva h5 {
  text-align: center;
  padding: 3%;
  font-size: 1.1rem;
  width: 30%;
  height: 45px;
  border: 2px dashed #e3b04b;
  margin: 0;
  margin-right: 2%;
  border-radius: 7px;
}

.precioReserva button {
  text-align: center;
  font-size: 0.8rem;
  padding: 3%;
  height: 45px;
  border-radius: 7px;
  width: 48%;
  background-color: #e3b04b;
}

.precioReserva button:active {
  background-color: #f1d6ab;
  color: #2b2b28;
  border: 2px solid #e3b04b;
} */

.caracteristicasBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EFEFEE;
  margin: 3%;
  width: fit-content;
  padding: 5%;
}

.caracteristicas {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 50%;
  width: 100%;
  margin-top: 2%;
}

.caracteristicas i {
  margin-right: 5%;
}

.containerImagenes,
.verMas
{
  display: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

@media (min-width: 780px) {
  .detalleProducto {
    width: 100%;
  }

  .tituloBackButton {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 2%;
    
    padding: 2%;
  }

  .tituloBackButton h3 {
    margin: 0;
    width: 80%;
    font-size:  2rem;
  }

  .backButton {
    color:#2b2b28;
    
    background-color: #E3CE8D;
    border: none;
    border-radius: 50%;
  }

  .detalleProducto h2 {
    font-size: 2rem;
  }

  .containerImagenes {
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 90%;
  }

  .leftContainer {
    width: 50%;
    display: flex;
    
    justify-content: center;
    margin-right: 10%;
    
  }

  .leftContainer img {
    max-width: 100%;
    height: min-content;
    
  }

  /* .smallImg{
        display: grid;
        
        grid-template-columns: repeat(2, 0.7fr);
        grid-template-rows: repeat(2, 0.7fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    } */

  .rightContainer {
    width: 50%;
    
  }

  .rightContainer .smallImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    
  }

  

  .rightContainer img {
    max-width: 100%;
    height: auto
  }

  .verMas {
    background-color:#E3B04B;
    border-radius: 0;
    text-transform: uppercase;
    border: none;
    display: block;
    position: relative;
    bottom: 9%;
    left: 80%;
    width: fit-content;
  }

  /* .rightContainer p {
    margin: 0;
    margin-bottom: 4%;
  }

  .tallesPrecioM {
    display: none;
  }

  .tallesCalendario {
    margin: 0;
    width: 100%;
    margin-bottom: 7%;
  } */

  .containerDetalles{
    display: flex;
    justify-content: space-between;
    width: 90%;
    
  }

  .detalleCaracteristicas{
    width: 50%;
    margin-right: 10%;
  }

  .caracteristicasBox{
    font-size: 0.8rem;
  }

  .detalleReserva{
    width: 50%;
    
  }

  .talles {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90%;
    height: 40px;
    
  }



  .calendar {
    width: 40%;
  }

  .calendar input {
    height: 43px;
  }

  .precioReserva {
    width: 100%;
    margin: 0;
  }

  .precioReserva h5 {
    width: 40%;
    padding: 2%;
  }

  .precioReserva button {
    width: 60%;
    padding: 2%;
  }
}
