.detalleProducto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}


.detalleProducto h2{
    font-size: 1.5rem;
    margin-top: 5%;
}

.tallesPrecioM{
    width: 100%;
}


.tallesCalendario{
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 80%;
    display: flex;
    
}


.talles{
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    height: fit-content;
    border: 2px solid #2B2B28;
}

.tallesCalendario button{
    
    font-size: 0.7rem;
    border-radius: 0;
    background-color: #F8F8F8;
    color: #2B2B28;
    border: none;
    padding: 3.5% 5%;
    
}

.tallesCalendario button:focus{
    background-color: #E3B04B;
    border: 1px solid #E3B04B;
}


form .calendar{
    width: 40%;
    height: max-content;
    
    
}

.calendar input {
    width: 100%;
    height: 38px;
    font-size: 0.7rem;
    padding: 5%;
    border-radius: 0;
    border: 2px solid #2B2B28;
    color-scheme: light;
    margin: 0;
}

.precioReserva{
    display: flex;
    width: 30%;
    align-items: center;
    margin-bottom: 3%;
    margin-left: 10%;
    width: 100%;

}

.precioReserva h5{
    text-align: center;
    padding: 3%;
    font-size: 0.8rem;
    width: 30%;
    height: 45px;
    border: 2px dashed #E3B04B;
    margin: 0;
    margin-right: 2%;
    border-radius: 7px;
}

.precioReserva button{
    text-align: center;
    font-size: 0.8rem;
    padding: 3%;
    height: 45px;
    border-radius: 7px;
    width: 48%;
    background-color: #E3B04B;
}

.precioReserva button:active{
    background-color: #F1D6AB;
    color: #2B2B28;
    border: 2px solid #E3B04B
}

.container, .verMas, .backButton{
    display: none
}





@media (min-width: 480px){
    .detalleProducto{
        width: 100%;
    }

    .tituloBackButton{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin: 2%;
        background-color: #F1D6AB;
        padding: 2%;
        
        
    }

    .tituloBackButton h3{
        margin: 0;
        width: 80%;
        text-transform: uppercase;

    }

    .backButton{
        display: block;
        height: auto;
        border-radius: 50%;

    }

    .detalleProducto h2{
        font-size: 2rem;
        

    }

    .container{
        display: flex;
        justify-content: space-between;

        width: 90%;

    }

    .leftContainer{
        
        width: 50%;
        margin-right: 3%;
        
    }
    
    .leftContainer img{
        
        width: 100%;
        height: 90%;        
        flex-grow: 1;
        
    }

    /* .smallImg{
        display: grid;
        
        grid-template-columns: repeat(2, 0.7fr);
        grid-template-rows: repeat(2, 0.7fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    } */

    .rightContainer{
        width: 50%;
        display: flex;
        flex-direction: column;
        

        
    }

    .rightContainer .smallImages{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        margin-bottom: 7%;
    }

    .rightContainer img {
        
        width: 100%;
    }

    .verMas{
        display: block;
        position: relative;
        bottom: 9%;
        left: 85%;
        width: fit-content;
        
        
    }

    .rightContainer p{
        margin: 0;
        margin-bottom: 7%;
    }

    .tallesPrecioM{
        display: none;
    }

    .tallesCalendario{
        margin: 0;
        width: 100%;
        margin-bottom: 7%;
    }

    .talles{
        width: 60%;
        height: 43px;
    }

    .calendar{
        width: 40%;
    }

    .calendar input{
        height: 43px;
    }
    
    .precioReserva{
        width: 100%;
        margin: 0;
    }

    .precioReserva h5{
        width: 40%;
        padding: 2%;
    }
    
    .precioReserva button{
        width: 60%;
        padding: 2%;
    }


}
