.cardItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cardItem img{
    width: 50%;
    
}

.datosItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalleFav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detalleBoton{
    border: none;
    background-color: #E3B04B;
    text-transform: uppercase;
    padding: 5%;
    font-size: 0.7rem;
    border-radius: 50px;
    
}

.favBoton{
    border: none;
    background-color: transparent;
}