.cardItem{
    width: 100%;
}

.detalleBoton{
    border: none;
    background-color: #E3B04B;
    text-transform: uppercase;
    padding: 2% 5%;
    font-size: 0.7rem;
    border-radius: 50px;
    margin-right: 2%;
}

.favBoton{
    border: none;
    background-color: transparent;
}