div .body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Search {
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    padding-left: 12px;
    border-radius: 30px;
    margin-top: 3%;
    font-family: 'Catamaran', sans-serif;
}

figure {
    width: 15px;
    margin: auto;
    margin-right: 12px;
    background-color: #f4f4f4;
}

form input{
    width: 82vw;
    height: 37px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 30px;
    outline: none;
}


h2{
    margin: 25px;
    font-family: 'Chakra Petch', sans-serif;
    
}

.categoria{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 30px;
}

.categoria div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .categoria div h4{
    background: rgb(227,176,75);
    background: linear-gradient(0deg, rgba(227,176,75,1) 0%, rgba(255,255,255,0) 100%);
} */

/* .categoria div div{
    border: solid 2px;
    width: fit-content;
    padding: 0px 3px 0px 3px ;
    background: rgb(227,176,75);
    background: linear-gradient(180deg, rgba(227,176,75,1) 0%, rgba(255,255,255,0) 100%);
} */

.categoria div div{
    text-transform: uppercase;
    width: fit-content;
    padding: 0px 3px 0px 3px ;
    
    
}

.categoria div img{
    height: 300px;
}

.producAleatorioBox {
    background-color: #f1d6abd8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #F1D6AB;
    width: 65%; 
    margin: 25px auto;
    padding: 25px;
    text-align: center; 
}

.producAleatorio {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    width: 100%; 
}

.productoItem {
    width: calc(33.33% - 10px); 
    max-width: calc(33.33% - 10px);
    display: flex;
    gap: 10px;
    align-items: flex-start;
    text-align: left;
    text-decoration: none;
    color: #2B2B28;
    font-family: 'Catamaran', sans-serif;;
}



.productoTitulo{
    color: #2B2B28;
}

.productoTitulo{
    color:#E3B04B
}

.productoItem img {
    width: 100px;
    height: auto;
}

.textoProduct {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media (max-width: 780px) {

    .categoria{
        display: none;
    }
    .producAleatorioBox {
        margin: 20px auto; 
    }

    .productoItem {
        width: 100%;
        max-width: 100%;
        
    }

    
}