div .body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

form input{
    width: 40vw;
    border-radius: 5px;
    height: 20px
}

.categoria{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
}

.categoria div img{
    height: 300px;
}

.producAleatorio{
    display: flex;
}

.producAleatorio div div{
    display: flex;
    gap: 10px;
}

.producAleatorio div div div {
    display: flex;
    flex-direction: column;
}

.producAleatorio div div img{
    height: 100px;
}