nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  padding: 1.5%;
  margin: 0;
  background-color: #2b2b28;
  position: sticky;
  top: 0;
  z-index: 1;
}

nav a {
  width: 70%;
  color: #ffffff;
  text-decoration: none;
}

nav .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav .logo img {
  height: 100px;
}

nav h6 {
  font-size: 0.8rem;
  margin-left: 1%;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: -1px 3px 9px rgba(239, 238, 238, 0.55);
}

nav .rutas a {
  font-size: 0.78rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 50px;
}

/* Estilos normales para los enlaces */
.crearCuenta,
.iniciarSesion {
  color: black; /* Color de texto normal */
  text-decoration: none; /* Elimina la subrayado de los enlaces */
}

/* Estilos de hover para los enlaces */
.crearCuenta:hover,
.iniciarSesion:hover {
  background-color: #e5ca77c6; /* Cambia el color de texto en estado hover */
}

/*
.crearCuenta{
    text-transform:uppercase;
    border-top-left-radius: 0.45rem;
    border-bottom-left-radius: 0.45rem;
    border-top: 0.1rem solid #2B2B28;
    border-left: 0.1rem solid #2B2B28;
    border-bottom: 0.1rem solid #2B2B28;
    
}

.iniciarSesion{
    text-transform: uppercase;
    border-top-right-radius: 0.45rem;
    border-bottom-right-radius: 0.45rem;
    border-top: 0.1rem solid #2B2B28;
    border-bottom: 0.1rem solid #2B2B28;   
}
*/

/* Estilos para las iniciales del usuario */
.userInitials {
  font-size: 24px;
  font-weight: bold;
  color: #e3ce8d; /* Color de texto deseado */
  /* Otros estilos personalizados aquí */
}

.crearCuenta, .iniciarSesion {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius:40px;
  /* background: #E3CE8D; */
  border: 2px solid black;
  /* color:black; */
  transition: all 0.20s ease;
  transform-origin: center center;
  &:hover {
      box-shadow: 0px 0px 5px -2px #EFEEEE;
      cursor: pointer;
      opacity: 0.9;
      border: 2px solid black;
      font-size: 0.95rem;
  }
  &:active {
      box-shadow: none;
      font-size: 0.9rem;
  }
}



.crearCuenta{
  margin-right: 10px;
  background-color: #E3CE8D;
  color:#2B2B28;
}



.iniciarSesion {
  background-color: #FFFFFF;
  color:#2B2B28;
  padding: 16px 54px;
}

.profileImage {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-size: 30px;
  padding: 5%;
  border-radius: 50%;
  border: 1px solid #e3ce8d;
  background: #2b2b28;
  color: #ffffff;
  text-align: center;
}

.cerrarSesionBOX {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

/* .logOut{
    border-right: 0.1rem solid #2B2B28;
    border-radius: 0.45rem;
    border-top: 0.1rem solid #2B2B28;
    background-color: #E3B04B;
    color: #fff;
    font-weight: bold;
    min-width: fit-content;

} */

.logOut {
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #efeeee;
  border-radius: 0;
}

.userInitials{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.logOut:hover {
  background-color: #e3ce8d;
}

@media (min-width: 780px) {
  nav .logo {
    display: flex;
    flex-direction: row;
  }
}
