nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 2%;
    margin: 0;
    background-color: #fff3df;
    color: #2B2B28;
    position: sticky;
    top:0;
    z-index: 1;
    font-family: 'Catamaran', sans-serif;;
}


nav a{
    color:  #2B2B28;
    width: 45%;
}

nav a:active{
    background-color: #F1D6AB;
    color: #2B2B28;
    border: 2px solid #E3B04B
}

nav .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}



nav .logo img {
    border-radius: 50%;
    height: 70px;
    
    
}

nav .logo h6{
    margin-left: 3%;
    
    
}

nav a{
    text-decoration: none;
}


nav .rutas a{
    font-size: 0.78rem;
    padding: 0.27rem;
    text-decoration: none;
}

/*
.crearCuenta{
    text-transform:uppercase;
    border-top-left-radius: 0.45rem;
    border-bottom-left-radius: 0.45rem;
    border-top: 0.1rem solid #2B2B28;
    border-left: 0.1rem solid #2B2B28;
    border-bottom: 0.1rem solid #2B2B28;
    
}

.iniciarSesion{
    text-transform: uppercase;
    border-top-right-radius: 0.45rem;
    border-bottom-right-radius: 0.45rem;
    border-top: 0.1rem solid #2B2B28;
    border-bottom: 0.1rem solid #2B2B28;   
}
*/
.crearCuenta, .iniciarSesion{
    border-left: 0.1rem solid #2B2B28;
    
    text-transform: uppercase;
    border-bottom: 0.1rem solid #2B2B28; 
    transition: all .3s;
}
.iniciarSesion {
    border-right: 0.1rem solid #2B2B28;
    border-top-right-radius: 0.45rem;
    border-bottom-right-radius: 0.45rem;
    border-top: 0.1rem solid #2B2B28;
    background-color: #E3B04B;
    color: #fff;
    font-weight: bold;
}
.iniciarSesion:hover {
    background-color: #846933;
}
.crearCuenta {
    border-top-left-radius: 0.45rem;
    border-bottom-left-radius: 0.45rem;
    border-top: 0.1rem solid #2B2B28; 
}

.profileImage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 5%;
    border-radius: 50%;
    background: #2B2B28;
    color: #fff;
    text-align: center;
}

.cerrarSesionBOX{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.logOut{
    border-right: 0.1rem solid #2B2B28;
    border-radius: 0.45rem;
    border-top: 0.1rem solid #2B2B28;
    background-color: #E3B04B;
    color: #fff;
    font-weight: bold;
    min-width: fit-content;

}

@media (min-width: 780px){
    nav .logo{
        display: flex;
        flex-direction: row;
        
        
    }

    
}