div .footer {
    display: flex;
    align-items: center;
    padding: 3%;
    margin: 0;
    background-color: #fff3df;
    /*e3b04b
    F1D6AB*/
    color: #2B2B28;
    font-family: 'Catamaran', sans-serif;;
    
}

div .footer img{
    display: flex;
    align-items: center;
    border-radius: 10vh;
    width: 5%;
    margin-left: 10px;
    margin-right: 7px;
}

div.footer h5,h6{
    color: #2B2B28;
    margin-right: 5px;
}


