.formLogin{
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

.input{
    display: flex;
    flex-direction: column;
}

div > input {
    width: 480px;
    border-radius: 15px;
    background-color:  #fff3df;
    padding: 10px;
}

.boton{
    background-color:  #F1D6AB;
    padding: 5px;
}




.containerLogin{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 65vh;
}

.containerInput input{
    width: 480px;
    border-radius: 7px;
    border: solid rgb(203, 203, 203) 1px;
    background-color: white;
    padding: 6px;
    &:focus{
        outline: solid #E3B04B 2px;
    }
}

.containerInput label{
    font-weight: bold;
    font-size: 1rem;

}

.containerInput{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.formLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    height: 300px;
    width: fit-content;
    border-radius: 25px;
    background-color: #EFEEEE;
    border: solid black 1px;
    box-shadow: 0px 0px 4px -1px black;
}

.boton {
    background-color: #E3B04B;
    padding: 5px;
    width: 60%;
    min-width: fit-content;
    border: 3px;
    border-radius: 100px ;
    border: solid black 1px;
    transition: 0.25s ease-in-out;
    font-weight: bold;
    &:hover{
        transition:all 0.50s ease;
        box-shadow: 0 0 0 1px #EFEEEE, 0 0 0 2px #2B2B28, 0 0 0 7px #E3B04B, 0 0 0 6.5px WHITE, 0 0 0 7px #EFEEEE;
        color: black;
        background-color: #EFEEEE;
        border: none;
    }&:active{
        transition:all 0.15s ease;
        box-shadow: none;
    }
}

.errorMessage{
    color:red;
}



/* .profileImage {
    font-family: Arial, Helvetica, sans-serif;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: #2B2B28;
    font-size: 3.5rem;
    color: #fff;
    text-align: center;
    line-height: 10rem;
    margin: 2rem 0;
} */

.fondo{
    width: 50vw;
    /* height: 100vh; */
}



/* .profileImage {
    font-family: Arial, Helvetica, sans-serif;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background: #2B2B28;
    font-size: 3.5rem;
    color: #fff;
    text-align: center;
    line-height: 10rem;
    margin: 2rem 0;
} */